**/node_modules/
lerna-debug.log
**/.vscode/
coverage/
**/.DS_Store
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
**/cra-boilerplate
.secrets
*.missing.json
**/dist